.container {
  @apply  
    bg-blue-clouds 
    bg-cover 
    bg-fixed 
    bg-repeat 
    text-center 
    dark:bg-dark-fractal;
}

.image {
  @apply w-full 
    scale-75 
    transition 
    duration-500 
    hover:scale-100;
}

.link {
  @apply m-3 p-3 
    text-white 
    hover:bg-slate-300 
    hover:text-black;
}
